In [18]:
import pandas as pd
import numpy as np

In [19]:
data = pd.read_csv("../data/spring.csv", sep=';')

In [20]:
data.columns

Index(['teamA', 'teamB', 'winA', 'Season_A', 'Region_A', 'Games_A',
       'Win rate_A', 'K:D_A', 'GPM_A', 'GDM_A', 'Game duration_A',
       'Kills / game_A', 'Deaths / game_A', 'Towers killed_A', 'Towers lost_A',
       'FB%_A', 'FT%_A', 'FOS%_A', 'DRAPG_A', 'DRA%_A', 'VGPG_A', 'HER%_A',
       'ATAKHAN%_A', 'DRA@15_A', 'TD@15_A', 'GD@15_A', 'PPG_A', 'NASHPG_A',
       'NASH%_A', 'CSM_A', 'DPM_A', 'WPM_A', 'VWPM_A', 'WCPM_A', 'Season_B',
       'Region_B', 'Games_B', 'Win rate_B', 'K:D_B', 'GPM_B', 'GDM_B',
       'Game duration_B', 'Kills / game_B', 'Deaths / game_B',
       'Towers killed_B', 'Towers lost_B', 'FB%_B', 'FT%_B', 'FOS%_B',
       'DRAPG_B', 'DRA%_B', 'VGPG_B', 'HER%_B', 'ATAKHAN%_B', 'DRA@15_B',
       'TD@15_B', 'GD@15_B', 'PPG_B', 'NASHPG_B', 'NASH%_B', 'CSM_B', 'DPM_B',
       'WPM_B', 'VWPM_B', 'WCPM_B'],
      dtype='object')

In [21]:
data = data.drop(columns=['Season_B','Season_A'])

In [23]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 63 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   teamA            656 non-null    object
 1   teamB            656 non-null    object
 2   winA             656 non-null    int64
 3   Region_A         315 non-null    object
 4   Games_A          367 non-null    float64
 5   Win rate_A       367 non-null    object
 6   K:D_A            367 non-null    float64
 7   GPM_A            367 non-null    float64
 8   GDM_A            367 non-null    float64
 9   Game duration_A  367 non-null    object
 10  Kills / game_A   367 non-null    float64
 11  Deaths / game_A  367 non-null    float64
 12  Towers killed_A  367 non-null    float64
 13  Towers lost_A    367 non-null    float64
 14  FB%_A            367 non-null    float64
 15  FT%_A            367 non-null    float64
 16  FOS%_A           367 non-null    float64
 17  DRAPG_A          367 non-null    float64
 18  DRA%_A           367 non-null    float64
 19  VGPG_A           367 non-null    float64
 20  HER%_A           367 non-null    float64
 21  ATAKHAN%_A       367 non-null    object
 22  DRA@15_A         367 non-null    object
 23  TD@15_A          367 non-null    object
 24  GD@15_A          367 non-null    float64
 25  PPG_A            367 non-null    object
 26  NASHPG_A         367 non-null    float64
 27  NASH%_A          367 non-null    float64
 28  CSM_A            367 non-null    float64
 29  DPM_A            367 non-null    float64
 30  WPM_A            367 non-null    float64
 31  VWPM_A           367 non-null    float64
 32  WCPM_A           367 non-null    float64
 33  Region_B         318 non-null    object
 34  Games_B          370 non-null    float64
 35  Win rate_B       370 non-null    object
 36  K:D_B            370 non-null    float64
 37  GPM_B            370 non-null    float64
 38  GDM_B            370 non-null    float64
 39  Game duration_B  370 non-null    object
 40  Kills / game_B   370 non-null    float64
 41  Deaths / game_B  370 non-null    float64
 42  Towers killed_B  370 non-null    float64
 43  Towers lost_B    370 non-null    float64
 44  FB%_B            370 non-null    float64
 45  FT%_B            370 non-null    float64
 46  FOS%_B           370 non-null    float64
 47  DRAPG_B          370 non-null    float64
 48  DRA%_B           370 non-null    float64
 49  VGPG_B           370 non-null    float64
 50  HER%_B           370 non-null    float64
 51  ATAKHAN%_B       370 non-null    object
 52  DRA@15_B         370 non-null    object
 53  TD@15_B          370 non-null    object
 54  GD@15_B          370 non-null    float64
 55  PPG_B            370 non-null    object
 56  NASHPG_B         370 non-null    float64
 57  NASH%_B          370 non-null    float64
 58  CSM_B            370 non-null    float64
 59  DPM_B            370 non-null    float64
 60  WPM_B            370 non-null    float64
 61  VWPM_B           370 non-null    float64
 62  WCPM_B           370 non-null    float64
dtypes: float64(46), int64(1), object(16)
memory usage: 323.0+ KB
None

In [22]:
print(data.select_dtypes(['object']).columns)
data.select_dtypes(['object']).nunique()
data.select_dtypes(['object']).nunique()

Index(['teamA', 'teamB', 'Region_A', 'Win rate_A', 'Game duration_A',
       'ATAKHAN%_A', 'DRA@15_A', 'TD@15_A', 'PPG_A', 'Region_B', 'Win rate_B',
       'Game duration_B', 'ATAKHAN%_B', 'DRA@15_B', 'TD@15_B', 'PPG_B'],
      dtype='object')

teamA              98
teamB              98
Region_A            8
Win rate_A         45
Game duration_A    47
ATAKHAN%_A         38
DRA@15_A           26
TD@15_A             9
PPG_A              34
Region_B            8
Win rate_B         45
Game duration_B    47
ATAKHAN%_B         38
DRA@15_B           26
TD@15_B             9
PPG_B              34
dtype: int64

In [24]:
data[data.select_dtypes(['object']).columns] =data.select_dtypes(['object']).astype('category')

In [25]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 63 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   teamA            656 non-null    category
 1   teamB            656 non-null    category
 2   winA             656 non-null    int64
 3   Region_A         315 non-null    category
 4   Games_A          367 non-null    float64
 5   Win rate_A       367 non-null    category
 6   K:D_A            367 non-null    float64
 7   GPM_A            367 non-null    float64
 8   GDM_A            367 non-null    float64
 9   Game duration_A  367 non-null    category
 10  Kills / game_A   367 non-null    float64
 11  Deaths / game_A  367 non-null    float64
 12  Towers killed_A  367 non-null    float64
 13  Towers lost_A    367 non-null    float64
 14  FB%_A            367 non-null    float64
 15  FT%_A            367 non-null    float64
 16  FOS%_A           367 non-null    float64
 17  DRAPG_A          367 non-null    float64
 18  DRA%_A           367 non-null    float64
 19  VGPG_A           367 non-null    float64
 20  HER%_A           367 non-null    float64
 21  ATAKHAN%_A       367 non-null    category
 22  DRA@15_A         367 non-null    category
 23  TD@15_A          367 non-null    category
 24  GD@15_A          367 non-null    float64
 25  PPG_A            367 non-null    category
 26  NASHPG_A         367 non-null    float64
 27  NASH%_A          367 non-null    float64
 28  CSM_A            367 non-null    float64
 29  DPM_A            367 non-null    float64
 30  WPM_A            367 non-null    float64
 31  VWPM_A           367 non-null    float64
 32  WCPM_A           367 non-null    float64
 33  Region_B         318 non-null    category
 34  Games_B          370 non-null    float64
 35  Win rate_B       370 non-null    category
 36  K:D_B            370 non-null    float64
 37  GPM_B            370 non-null    float64
 38  GDM_B            370 non-null    float64
 39  Game duration_B  370 non-null    category
 40  Kills / game_B   370 non-null    float64
 41  Deaths / game_B  370 non-null    float64
 42  Towers killed_B  370 non-null    float64
 43  Towers lost_B    370 non-null    float64
 44  FB%_B            370 non-null    float64
 45  FT%_B            370 non-null    float64
 46  FOS%_B           370 non-null    float64
 47  DRAPG_B          370 non-null    float64
 48  DRA%_B           370 non-null    float64
 49  VGPG_B           370 non-null    float64
 50  HER%_B           370 non-null    float64
 51  ATAKHAN%_B       370 non-null    category
 52  DRA@15_B         370 non-null    category
 53  TD@15_B          370 non-null    category
 54  GD@15_B          370 non-null    float64
 55  PPG_B            370 non-null    category
 56  NASHPG_B         370 non-null    float64
 57  NASH%_B          370 non-null    float64
 58  CSM_B            370 non-null    float64
 59  DPM_B            370 non-null    float64
 60  WPM_B            370 non-null    float64
 61  VWPM_B           370 non-null    float64
 62  WCPM_B           370 non-null    float64
dtypes: category(16), float64(46), int64(1)
memory usage: 271.8 KB
None

In [26]:
data[data.select_dtypes(['category']).columns] = data.select_dtypes(['category']).apply(lambda x: x.cat.codes)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 63 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   teamA            656 non-null    int8
 1   teamB            656 non-null    int8
 2   winA             656 non-null    int64
 3   Region_A         656 non-null    int8
 4   Games_A          367 non-null    float64
 5   Win rate_A       656 non-null    int8
 6   K:D_A            367 non-null    float64
 7   GPM_A            367 non-null    float64
 8   GDM_A            367 non-null    float64
 9   Game duration_A  656 non-null    int8
 10  Kills / game_A   367 non-null    float64
 11  Deaths / game_A  367 non-null    float64
 12  Towers killed_A  367 non-null    float64
 13  Towers lost_A    367 non-null    float64
 14  FB%_A            367 non-null    float64
 15  FT%_A            367 non-null    float64
 16  FOS%_A           367 non-null    float64
 17  DRAPG_A          367 non-null    float64
 18  DRA%_A           367 non-null    float64
 19  VGPG_A           367 non-null    float64
 20  HER%_A           367 non-null    float64
 21  ATAKHAN%_A       656 non-null    int8
 22  DRA@15_A         656 non-null    int8
 23  TD@15_A          656 non-null    int8
 24  GD@15_A          367 non-null    float64
 25  PPG_A            656 non-null    int8
 26  NASHPG_A         367 non-null    float64
 27  NASH%_A          367 non-null    float64
 28  CSM_A            367 non-null    float64
 29  DPM_A            367 non-null    float64
 30  WPM_A            367 non-null    float64
 31  VWPM_A           367 non-null    float64
 32  WCPM_A           367 non-null    float64
 33  Region_B         656 non-null    int8
 34  Games_B          370 non-null    float64
 35  Win rate_B       656 non-null    int8
 36  K:D_B            370 non-null    float64
 37  GPM_B            370 non-null    float64
 38  GDM_B            370 non-null    float64
 39  Game duration_B  656 non-null    int8
 40  Kills / game_B   370 non-null    float64
 41  Deaths / game_B  370 non-null    float64
 42  Towers killed_B  370 non-null    float64
 43  Towers lost_B    370 non-null    float64
 44  FB%_B            370 non-null    float64
 45  FT%_B            370 non-null    float64
 46  FOS%_B           370 non-null    float64
 47  DRAPG_B          370 non-null    float64
 48  DRA%_B           370 non-null    float64
 49  VGPG_B           370 non-null    float64
 50  HER%_B           370 non-null    float64
 51  ATAKHAN%_B       656 non-null    int8
 52  DRA@15_B         656 non-null    int8
 53  TD@15_B          656 non-null    int8
 54  GD@15_B          370 non-null    float64
 55  PPG_B            656 non-null    int8
 56  NASHPG_B         370 non-null    float64
 57  NASH%_B          370 non-null    float64
 58  CSM_B            370 non-null    float64
 59  DPM_B            370 non-null    float64
 60  WPM_B            370 non-null    float64
 61  VWPM_B           370 non-null    float64
 62  WCPM_B           370 non-null    float64
dtypes: float64(46), int64(1), int8(16)
memory usage: 251.3 KB

In [27]:
data.isnull().sum(axis=0)

teamA         0
teamB         0
winA          0
Region_A      0
Games_A     289
           ...
CSM_B       286
DPM_B       286
WPM_B       286
VWPM_B      286
WCPM_B      286
Length: 63, dtype: int64

In [28]:
data = data.fillna(-1)
data.isnull().sum(axis=0)

teamA       0
teamB       0
winA        0
Region_A    0
Games_A     0
           ..
CSM_B       0
DPM_B       0
WPM_B       0
VWPM_B      0
WCPM_B      0
Length: 63, dtype: int64

In [29]:
data.to_csv('../data/clean_spring.csv', index=False, sep=';')